<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
<h1>Fill in the blanks to write your story!</h1>
      <div>
        <form action="/formLib">
        <div class="form-group">
            <label for="Word1">Enter a word</label>
            <input id="Word1" name="Word1" class="form-control" type="text">
          </div>
        <div class="form-group">
            <label for="Word2">Enter another word to compare</label>
            <input id="Word2" name="Word2" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Show me the story!</button>
        </form>
      </div>
    </body>
</html>